<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <springProfile name="!local">
        <Appenders>
            <Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
                <EcsLayout serviceName="${spring:spring.application.name:-}"/>
            </Console>
        </Appenders>
        <Loggers>
            <Root level="INFO">
                <AppenderRef ref="ConsoleAppender"/>
            </Root>
        </Loggers>
    </springProfile>
    <springProfile name="local">
        <Properties>
            <Property name="LOG_PATTERN">
                %style{%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX}}{blue} %highlight{%-5level} %style{[%X]}{yellow} {%pid} --- [%15.15t] %-40.40c{1.}: %m%n%ex
            </Property>
        </Properties>
        <Appenders>
            <Console name="LocalConsoleAppender" target="SYSTEM_OUT" follow="true">
                <PatternLayout pattern="${LOG_PATTERN}" disableAnsi="false"/>
            </Console>
            <RollingFile name="LocalFileAppender" fileName="logs/spring-mongodb-demo.log"
                         filePattern="logs/spring-mongodb-demo-%d{yyyy-MM-dd}-%i.log.gz">
                <PatternLayout>
                    <Pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} %-5level [%X] --- [%15.15t] %-40.40c{1.}: %m%n%ex</Pattern>
                </PatternLayout>
                <Policies>
                    <SizeBasedTriggeringPolicy size="10MB"/>
                    <TimeBasedTriggeringPolicy/>
                </Policies>
                <DefaultRolloverStrategy max="7"/>
            </RollingFile>
        </Appenders>
        <Loggers>
            <Root level="INFO">
                <AppenderRef ref="LocalConsoleAppender"/>
                <AppenderRef ref="LocalFileAppender"/>
            </Root>
        </Loggers>
    </springProfile>
</Configuration>